.git
.gitignore
.env
.env.*

backend/.env
backend/.env.*
!backend/.env.example
!backend/.env.production.example

backend/vendor
backend/node_modules

backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

backend/bootstrap/cache/*.php

backend/.phpunit.cache
backend/.phpunit.result.cache

docs
tests